<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="IHSM_Suite" thread-count="1">

	<listeners>
		<listener class-name="com.ihsm.university.utilities.ExtentListener" />
	</listeners>

	<!-- Chrome Test -->
	<test name="IHSM_UNIVERSITY_Chrome_Student">
		<parameter name="os" value="windows" />
		<parameter name="browser" value="chrome" />
		<classes>

			<!-- Student Registration Module -->
			<class
				name="com.ihsm.university.ihsmtestcases.flows.student.IHSM_BasicFullFlowTest2" />
			<class
				name="com.ihsm.university.ihsmtestcases.flows.student.IHSM_DocumentFullFlowTest2" />
			<class
				name="com.ihsm.university.ihsmtestcases.flows.student.IHSM_AcademicFullFlowTest2" />
			<class
				name="com.ihsm.university.ihsmtestcases.flows.student.IHSM_StatusFullFlowTest2" />

			<!-- Employee Registration Module -->
			<class
				name="com.ihsm.university.ihsmtestcases.flows.employee.IHSM_BasicFullFlowTest" />
			<class
				name="com.ihsm.university.ihsmtestcases.flows.employee.IHSM_DesignationFullFlowTest" />
			<class
				name="com.ihsm.university.ihsmtestcases.flows.employee.IHSM_ProfessionalInformationFlowTest" />
			<class
				name="com.ihsm.university.ihsmtestcases.flows.employee.IHSM_DocumentFullFlowTest" />

			<!-- Class Scheduling -->
			<!--<class
				name="com.ihsm.university.ihsmtestcases.flows.classschedule.IHSM_ClassSubjectCreditTest" />
			<class
				name="com.ihsm.university.ihsmtestcases.flows.classschedule.IHSM_VerifyGroupAssignmentTest" />
			<class
				name="com.ihsm.university.ihsmtestcases.flows.classschedule.IHSM_ClassSchedulingInformationTest" />-->

			<!-- Exam Management -->
			<!--<class
				name="com.ihsm.university.ihsmtestcases.flows.exammanage.IHSM_ExamManageTest" />-->

		</classes>
	</test>


</suite>





